
html, body, * {
	 margin: 0;
    padding: 0;
        
        overflow: hidden;
	}
.canvas {
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
        }

.brick_left {
            width: 4.5%;
            height: 50px;
            background-color: dodgerblue;
            display: block;
            float: left;
            margin-right: .55%;
            margin-bottom: .55%;
            box-sizing: border-box;
        }
        
.brick_center {
            width: 9.5%;
            height: 130px;
            background-color:greenyellow;
            display: block;
            float: left;
            margin-right: .55%;
            margin-bottom: .55%;
            box-sizing: border-box;
            text-align: center;

        }
        
.brick_right1 {
             width: 4.5%;
            height: 50px;
            background-color: #d61508;
            display: block;
            float: left;
            margin-bottom: .55%;
            box-sizing: border-box;
        }
        
           .brick_right2 {
             width: 9.55%;
            height: 50px;
            background-color: salmon;
            display: block;
            float: left;
            margin-bottom: .55%;
            box-sizing: border-box;
        }
        
        
        .brick_left:hover {
            background-color: transparent;
        }
        .brick_center:hover {
            background-color: blueviolet;
        }
        .brick_right1:hover {
            background-color: transparent;
        }
        
        .brick_right2:hover {
            background-color: navy;
        }
        
        span {
            color: blueviolet;
            font-size: 25px;
            text-align: center;
            text-shadow: 10 px;
            font-family: sans-serif;
            
  
        }
        